/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
}

label {
    margin-right: 10px;
}

/* Switch styles */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
}

.switch input:checked+.slider {
    background-color: #2196F3;
}

.switch input:checked+.slider:before {
    transform: translateX(26px);
}


#container {
    transition: background-color 0.5s ease; /* Add a transition effect for smooth color change */
    padding: 20px;
    text-align: center;
  }
  
  #container.checked {
    background-color: #2a2c2f; /* Background color when the switch is checked */
  }